header .row .column:first-child {
  text-align: left;
}

header .row .column {
  text-align: right;
}

.circle-white {
  border: 5px #ffffff solid;
  border-radius: 20px;
  background-color: #ffffff;
}

.circle-link {
  margin-top: 10px;
  display: block;
}

.random-recipe-row {
  display: table;
  height: 100%;
}

.random-recipe-row .column {
  display: table-cell;
}

.random-recipe-row .random-recipe-title {
  vertical-align: middle;
}

.empty {
  width: 100%;
}

.recipes-link-container {
  text-align: right;
}

.ingredient-grid .column {
  position: relative;
  padding: 0;
  border: #0069d900 3px solid;
  border-collapse: separate;
  border-spacing: 2px;
}

.ingredient-grid .selected {
  padding: 0;
  border: #0069d9 3px solid;
  border-collapse: separate;
  border-spacing: 2px;
}

.ingredient-grid .ingredient-link .hover-name {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  display: table;
}

.ingredient-grid .ingredient-link .hover-name:hover {
  background-color: #090909bb;
}

.ingredient-grid .ingredient-link .hover-name p {
  color: #00000000;
  vertical-align: middle;
  display: table-cell;
}

.ingredient-grid .ingredient-link .hover-name:hover p {
  color: #dfdfdf;
}

.ingredient-grid .ingredient-link .image-in-link {
  max-width: 50px;
  max-height: 50px;
  margin: 5px auto;
  display: flex;
}

.all-width {
  width: 100%;
}

.search-table {
  margin: 20px auto;
}

.content-table .optional-ingredient {
  opacity: 0.5;
}

.content-table .content-row .image-link {
  flex: 0 0 0;
  display: inline-block;
  height: 100%;
  width: auto;
}

.content-table .content-row .image-in-link {
  object-fit: scale-down;
  max-width: 100%;
  max-height: 100%;
  margin: 25% 0;
  height: 75%;
}

.content-table .content-row {
  height: 60px;
  border-bottom: 1px solid #afafaf;
}

.content-table .content-row {
  margin: 10px auto;
}

.content-table .content-row .column {
  margin: 0;
}

.content-table .content-row .link-column {
  margin: auto 0;
}

.content-table .content-row .link-column .alternative-link {
  padding: 0 5px;
}

.search-table .search-field {
  margin: 0;
}

.search-table .search-button {
  margin: 0;
  padding: 0;
  width: 38px;
}

